body {
  font-family: Arial, Helvetica, sans-serif;
  }
  ul {
  margin: 0;
  }
  a {
  text-decoration: none;
  }
  span {
  font-weight: bolder;
  cursor: pointer;
  }
  button {
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  }
  h2 {
  margin: 0;
  }
  .card:hover, .board-preview-item:hover {
  opacity: 0.8;
  transform: scale(1.02);
  }
  /* HEADER */
  header {
  background: rgb(73, 176, 236);
  display: flex;
  align-items: center;
  }
  header h1 {
  font-style: italic;
  font-weight: 600;
  color: whitesmoke;
  }
  header a {
  font-size: 2em;
  margin: 0 20px;
  color: whitesmoke;
  }
  .user-area {
  flex: 4;
  margin-right: 20px;
  text-align: right;
  }
  /* HOME */
  .board-preview-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 20px;
  cursor: pointer;
  }
  .board-preview-item {
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  }
  .board-preview-item li {
  list-style: none;
  }
  .create-board-wrapper{
    display: flex;
    margin: 20px;
    background: lightgray;
    border-radius: 5px;
    cursor: auto;
  }

  .create-board-wrapper input {
    margin: 5px;
  flex: 2;
  border: none; 
  border-radius: 5px; 
  font-size: 1em;
  line-height: 1.5;
  }
  .create-board-wrapper select {
  margin: 5px;
  flex: 1;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  }
  .create-board-wrapper button {
  background: rgb(73, 176, 236);
  flex: 1;
  }
  /* BOARD */
  .board-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  }
  .board-header input {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  font-weight: bolder;
  }
  .board-header button {
  background: rgb(247, 134, 100);
  color: whitesmoke;
  font-weight: bolder;
  width: 20%;
  }
  .board-wrapper {
  height: 100vh;
  }
  .board-wrapper h2 {
  padding: 10px;
  }
  /* LIST */
  .lists-wrapper {
  white-space: nowrap;
  }
  /* add as onmouseover event in js */
  .lists-wrapper:hover {
  overflow: scroll;
  }
  .list {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  padding: 10px;
  /* width: 500px; */
  background: lightgrey;
  border-radius: 5px;
  }
  .list h3 {
  margin: 0.3em 0;
  }
  .new-list-wrapper input {
  margin: 5px;
  border: none; 
  border-radius: 5px; 
  font-size: 1em;
  line-height: 1.5;
  margin-left: 20px; 
  }
  .list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .list-header input{
    background-color: transparent;
    border: none;
  font-size: 1em;
  font-weight: bolder;
  }
  /* CARD */
  .card {
  margin: 10px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  opacity: 1;
  }
  .card-labels {
  display: flex;
  }
  .card-body {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  }
  .card-body textarea {
  font-size: 1em;
  width: 90%;
  resize: none;
  border: none;
  }
  .new-card-wrapper input {
  margin: 5px;
  border: none; 
  border-radius: 5px; 
  font-size: 1em;
  line-height: 1.5;
  }
  /* MODAL */
  .modal-wrapper {
  position: fixed; 
  padding-top: 150px; 
  background-color: rgba(0,0,0,0.7);
  width: 100vw; 
  height: 100vh; 
  left: 0;
  top: 0;
  }
  .modal-body {
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 80%;
  }
  hr {
  margin-top: 20px;
  }
  .modal-close {
  float: right;
  font-size: 1.5em;
  color: rgb(230, 86, 86);
  }
  .textbox-edit {
  margin: 10px 0;
  padding: 2em;
  font-size: 1em;
  width: 50%;
  background: rgb(226, 221, 221);
  border-radius: 5px;
  }
  .edit-area {
  position: relative;
  }
  .edit-icon {
  position: absolute;
  top: 20px;
  left: 10px;
  }
  textarea.textbox-edit:hover {
  transform: scale(1.01);
  }
  .modal-wrapper button {
  margin: 20px 0 0 0;
  background: rgb(73, 176, 236);
  width: 30%;
  }
  /* LABELS */
  .modal-body form {
  display: flex;
  flex-direction: column;
  }
  .label-title {
  font-weight: 300;
  margin: 15px 0;
  }
  .label {
  margin: 0 3px;
  padding: 5px 20px;
  border-radius: 5px;
  }
  /* SIGN UP/LOGIN */
  .sign-up-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .sign-up-form input {
  margin: 5px;
  border: 1px solid lightgray; 
  border-radius: 5px; 
  font-size: 1em;
  line-height: 1.5;
  width: 40vw;
  }
  @media screen and (max-width: 680px) {
  .create-board-wrapper {
  flex-direction: column;
  }
  .create-board-wrapper button {
  margin: 5px auto 10px auto;
  } 
  .board-preview-wrapper {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  }
  .sign-up-form input {
  width: 80vw;
  }
/* .model-wrapper{
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  padding: 10px;
  background: lightblue;
  border-radius: 5px;
} */
  }
  